@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif; /* Fonte padrão */
}

header {
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 3px 10px #bdbdbd;
    position: fixed;
}

.container-fluid {
    display: block;
    }
    .container:after {
    content: "";
    display: table;
    clear: both;
    }
.tip {
    width: calc(22.22% - 20px); /* Define a largura para caber 3 na mesma linha com margens */
    margin: 5px; /* Espaço entre as dicas */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
    display: inline-block;
    text-align: center; 
}

ul,ol {
    list-style-type: none;
}

.tip:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

#study-tips {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@media (max-width: 860px) {
    .tip {
        width: 100%; /* 100% de largura em telas menores */
        margin: 10px 0; /* Espaço acima e abaixo em telas menores */
    }
}

.tip p {
    margin: 0;
}
.p {
    color: #181717;
    text-align: justify;
    text-indent: 30px;
}
.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    flex-wrap: wrap; /* Permite que os elementos quebrem para a próxima linha quando não couberem na largura da tela */
}

.text, .image {
    flex: 1;
    padding: 0; /* Remova o preenchimento para eliminar o espaço entre eles */
    margin: 0; /* Remova as margens para eliminar o espaço entre eles */
}

/* Aplicar estilos quando a tela for menor que 768px (ajuste o valor conforme necessário) */
@media (max-width: 768px) {
    .container {
        flex-direction: column;/* Altera a direção da flexbox para empilhar os elementos */
        z-index: 1;
    }

    .text{
       
        flex: auto; /* Restaura o comportamento padrão da flexbox */
        padding: 0; /* Remova o preenchimento para eliminar o espaço entre eles */
    }
    
}
        


.login-button, .signup-button {
    background-color: #d41d6d;
    color: #fbfdff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
   
  }
  
  @media (max-width: 668px) {
    .login-button, .signup-button {
      padding: 8px 16px; /* Ajuste o padding para tamanhos menores */
      font-size: 16px; /* Ajuste o tamanho da fonte */
    }
  }
  
    
      @media (max-width: 668px) {
        .button{
          padding: 18px 80px;
        }
      }
      .right-column {
        width: 18%;
        text-align: center;
        align-items: center;
        display: flex; /* Usar display flex para alinhar verticalmente */
         
      }
      .logo {
        display: flex;
        width: 50px;
        padding: 1.5rem;
    }

    