.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

body.dark-mode .profile-container {
    background-color:#1f1f1f; 
}
.profile-background {
    background-size: cover;
    width: 100%;
    height: 200px;
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0px 3px 10px #999999;
    border: 5px rgba(0, 0, 0, 0.2);
    margin-top: -75px;
}

.profile-info {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 3px 10px #b6b5b5;
    border: 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px; /* Borda arredondada */
    margin-top: 20px; /* Aumenta a distância entre a caixa e a foto de perfil */
    min-width: 400px;
    max-width: 400px;
    min-height: 150px;
    max-width: 150px;
}

.profile-text {
    text-align: left; 
    margin-bottom: 10px;
    word-wrap: break-word; 
    max-width: 100%; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
}

.profile-message {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
    width: calc(40ch * 1ch); /* Largura baseada em 40 caracteres (1ch é aproximadamente o tamanho de um caractere) */
    max-width: 100%; 
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    overflow: hidden; /* Esconde o texto que ultrapassar a caixa */
    text-overflow: ellipsis; /* Exibe "..." para o texto que ultrapassar a caixa */
}

.profile-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profile-username {
    font-size: 18px;
    color: #000000;
    margin-top: 10px; /* Adiciona espaço entre a foto e o nome de usuário */
}

body.dark-mode .profile-username {
    color: #c9c9c9;
}
.profile-name {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

body.dark-mode .profile-name  {
    color: #cecece;
}
.profile-message {
    font-size: 16px;
    color: #000000;
    margin-top: 10px;
}

body.dark-mode .profile-username, .profile-message  {
    color: #b6b6b6;
}
#save-button {
    display: none;
}
