
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      background-color: #fafafa;
    }
    header nav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    header nav a {
      display: inline-block;
      text-align: center;
      margin: 0 10px; /* Espaçamento horizontal entre os ícones */
    }

    header nav img {
      width: 40px; /* Tamanho dos ícones */
      height: 40px; /* Tamanho dos ícones */
    }
    header a{
      text-decoration: none; color: black;
    }
    
    .logo {
      width:100px;
      height: 100px;
      margin-left: 30px;
    }    
    body {
      height: 100vh; /* Para ocupar toda a altura da janela */
      margin: 0;
    }

    .sidenav {
      height: 100%;
      width: 250px;
      position: fixed;
      z-index: 1;
      top: 0;
      right: 0; /* Mudança na posição para a direita */
      background-color: #111111;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: #818181;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      left: 25px; /* Mudança na posição para a esquerda */
      font-size: 36px;
      margin-right: 50px; /* Mudança na margem direita */
    }

    #main {
      transition: margin-right .5s;
      padding: 16px;
    }
    @media screen and (max-height: 400px) {
          header nav img {
            display: none;
          }
        }
    @media (max-width: 768px) {
      .logo {
        width: 70px;
        height: 70px;
      }
    }

    