@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
/* Estilos para o cabeçalho */
*{
  font-family: 'Inter', sans-serif; /* Fonte padrão */
}
header {
  background-color: #ffffff;
  box-shadow: 0px 3px 10px #b6b5b5;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 5px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

.nav-bar {
display: flex;
align-items: center;
}

.menu a {
  color: #d41d6d;
  text-decoration: none;
  margin: 0 20px;
   
}

.menu a:hover {
  transition: transform 0.9s;
  text-shadow: 0 0 5px rgba(236, 165, 213, 0.5);
}

.login-button, .signup-button {
  background-color: #d41d6d;
  color: #fbfdff;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  
}

/* Estilos para tornar o cabeçalho responsivo */
@media (max-width: 780px) {
.menu {
    display: none;
}

.login-button, .signup-button {
    margin-top: 10px;
}
}

h1 { 
  line-height: 1.2;
}

span{
  font-size: 4rem; 
  color: #e11e72;
}

/* Estilos para tornar o texto responsivo em tamanhos menores de tela */
@media (max-width: 768px) {
  h1 {
      font-size: 2.1rem; /* Tamanho de fonte menor para telas menores */
  }
  span {
    font-size: 3rem; /* Tamanho de fonte menor para telas menores */
    padding: 0.25rem; /* Reduza o espaçamento interno para telas menores */
  }
}

/*Trecos do pequeno*/
.container { 
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.right-column img {
  max-width: 100%;
  height: auto;
}

p{
  font-size: 20px;
  font-family:Roboto;
  line-height: 23px;
  margin-top: 90px;
  display: flex;
  justify-content: flex-start;
  text-align: justify;
}

@media (max-width: 768px) {
.right-column img {
    order: -1; /* Reordena a imagem para aparecer antes do texto */
}
}

/*imagem*/
.right-column img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço disponível */
}

.left-column {
  width: 100%;
  height: 100%;
  margin-left: 5%;
  object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço disponível */
}

.left-column {
  float: left;
  width: 50%;
}
.divisorias{
  align-items: left;
  width: auto;
  height: 340px;
  padding-top: 120px;
  display: flex;
}

/*PAra imagens*/
.div1{
  float: right;
  margin-right: 0.16px;
  width: 100px;
  max-width: 100%;
  margin-top: -0.01%;
}
main {
  padding: 25px;
  text-align: center;
  background-color: #ccdbff;
}

h1 {
  font-size: 2.25rem; /* 36px / 16px = 2.25 */
  margin-bottom: 20px;
  margin-left: 20rem;
}

.right-column {
float: right;
width: 40%;
}

.button{
  background-color: #e62478;
  color: #ffe9e9;
  cursor: pointer;
  border-radius: 6px;
  border-color: #e62478;
  padding: 18px 180px;
  text-align: center;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  height: 30px;
  text-align: center;
  line-height: 5px; /* Ajusta a altura do texto verticalmente */
}

@media (max-width: 668px) {
  .button{
    padding: 18px 80px;
  }
}


/*footer*/
footer{
width: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  background-color:   rgb(245,29, 113);
  display: block;
  text-align: center;
}

footer span{
  font-size: 20px;
  font-family: Roboto;
  color: #000000;
}

/*--sMULÁRIO h2in/cadastro--*/


/* Estilos para a barra de pesquisa */
.search-box {
text-align: center;
padding: 20px;
}

.search-box select,
.search-box input,
.search-box button {
font-size: 16px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}

.search-box select {
margin-right: 10px;
}

.search-box input {
width: 250px;
}

.search-box button {
background-color: #5fadec;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.search-box button:hover {
background-color: #0056b3;
}